# YOLOv8 requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
gdown
matplotlib
numpy
opencv-python
pillow
scipy
torch
torchvision
tqdm
ultralytics
roboflow
py-cpuinfo
cvzone
deep_sort_realtime
boto3==1.33.3
requests

# Logging ---------------------------------------------------------------------
tensorboard

# Plotting --------------------------------------------------------------------
pandas
seaborn

# Export ----------------------------------------------------------------------
scikit-learn
tensorflow
tensorflowjs


# Deploy ----------------------------------------------------------------------

# Extras ----------------------------------------------------------------------
