# YOLOv8 requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
gdown
matplotlib
numpy
opencv-python
pillow
scipy
torch
torchvision
tqdm
ultralytics

# Logging ---------------------------------------------------------------------
tensorboard

# Plotting --------------------------------------------------------------------
pandas
seaborn

# Export ----------------------------------------------------------------------
scikit-learn
tensorflow
tensorflowjs


# Deploy ----------------------------------------------------------------------

# Extras ----------------------------------------------------------------------
